EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_CHECKOUT_URL=
EXPO_PUBLIC_RAZORPAY_KEY_ID=
EXPO_PUBLIC_APP_SCHEME=deepdiveai
EXPO_PUBLIC_PUBLIC_REPORTS_URL=
EXPO_PUBLIC_STREAM_API_KEY=

# keys in edge functions
# EXPO_PUBLIC_PEXELS_API_KEY=
# EXPO_PUBLIC_GIPHY_API_KEY=
# EXPO_PUBLIC_TAVILY_API_KEY=
# EXPO_PUBLIC_OPENAI_API_KEY=
# API_KEY_ENCRYPTION_SECRET=openssl rand -base64 48